*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style: none;
}
body {
    background-color: #eee;
}


.header-top {
    background: linear-gradient(to bottom ,black,rgb(255, 0, 0));
    color: rgb(241, 232, 232);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
 }

 .header {
     position: sticky;
     top: 0;
    background: linear-gradient(to bottom ,#20b820,#31c021);
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

 .header span{

    margin: 0 10px;
        font-weight: bold;
   font-size: 20px;
    
 }

 .container{
     width: 1000px;
     margin: auto;

 }

 .products {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .product {
   padding: 15px;
   background: #fff;
   border: 1px solid #ddd;
   margin-bottom: 20px;
   width: 24%;
}

.product img {

    width: 100%;
 }

 .product h6  {

    font-size: 20px;
    margin-bottom: 10px;
 }
 .product .price {

    font-size: 20px;
    margin-top: 10px;
    color:red;
   
    
 }
 .product .action {
    margin-top: 10px;
    display: flex;
 }

 .action button {
    height: 40px;
    padding: 0 15px;
   flex:1;
   cursor: pointer;
 }
 .action .deger {
    width: 50px;
    text-align: center;
    padding: 0 15px;
     flex:1;
     border: 1px solid #ddd;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 17px;
     font-weight: bold;

 }

 .action .buy-btn {
   background-color: #61dafb;
   font-size: 14px;
   font-weight: 500px;
   border-radius: 0 4px 4px 0;
 }
 .action .sell-btn {
    background-color: rgb(255, 0, 0);
   
    font-size: 14px;
    font-weight: 500px;
    border-radius: 4px 0px  0 4px;
  }
 
.basket-container{
    
 padding: 30px;
 background:#fff;
 border:1px solid #ddd;
 margin-bottom: 50px;


}

.basket-container h2{

  
    font-size: 20px;
    margin-bottom: 15px;
    
   
   }

   .basket-container .totel{

  
    border-top: 1px solid #ddd; 
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    color: green;
   
   }






